/*Variables colores*/
html {
  font-size: 62.5%;
  font-family: "IBM Plex Sans", sans-serif;
  color: #7c6a0a;
  background-color: #ffefe7;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  overflow-x: hidden;
}

body {
  min-width: 320px;
  max-width: 1200px;
  margin: 0 auto;
  overflow-x: hidden;
}

img {
  width: 100px;
}

.nav__menu:hover, .nav__icon:hover {
  filter: invert(59%) sepia(72%) saturate(2682%) hue-rotate(6deg) brightness(104%) contrast(102%);
}

.section-mapa h2, .section-galeria h2, .section-nosotros h2, .section-hogar__titulo, .section-salud__titulo {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 20px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  font-size: 1.2rem;
}
.nav__icon {
  display: none;
}
.nav__menu {
  margin-right: 20px;
}
.intro-container {
  width: 90%;
  margin: 0 auto 70px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: hidden;
}
.intro-container__info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.intro-container__img {
  width: 100%;
  max-width: 400px;
  border-radius: 4vw;
}
.intro-container__titulo {
  margin: 10px 0 3.2vh 0;
  font-size: 2rem;
  font-weight: bold;
}
.intro-container__parrafo {
  max-width: 360px;
  margin-bottom: 18px;
  font-size: 1.2rem;
}
.intro-container__boton {
  padding: 1.2rem 4.8rem 1.2rem 2.6rem;
  border-radius: 2rem;
  border-width: 0;
  font-weight: bold;
  background-color: #fa9500;
  color: white;
}
.intro-container__boton:hover {
  background-color: #ffb648;
  cursor: pointer;
}
.intro-container__boton:active {
  position: relative;
  top: 2px;
}

.section-salud {
  margin-left: 30px;
}
.section-salud__items-container {
  display: flex;
  overflow-x: auto;
}
.section-salud__items-container__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-width: 170px;
  margin-right: 10px;
  border-radius: 9px;
  background-color: #ffdac6;
  color: #7c6a0a;
}
.section-salud__items-container__item img {
  border-radius: 1vw;
  min-width: 140px;
  min-height: 180px;
  height: 40%;
}
.section-salud__items-container__item div {
  height: 20%;
  margin-bottom: 40px;
  overflow: hidden;
}
.section-salud__items-container__item div h3 {
  max-width: 140px;
  margin-bottom: 4px;
  font-size: 1.2rem;
}
.section-salud__items-container__item div p {
  max-width: 140px;
  margin-bottom: 30px;
  font-weight: 400;
}
.section-salud__items-container__item svg {
  align-self: flex-end;
  margin-top: 10px;
  margin-right: 10px;
}

.section-hogar {
  margin-left: 30px;
  margin-bottom: 50px;
}
.section-hogar__items-container {
  display: flex;
  overflow-x: auto;
}
.section-hogar__items-container__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-width: 170px;
  margin-right: 10px;
  border-radius: 9px;
  background-color: #babd8d;
  color: white;
}
.section-hogar__items-container__item img {
  border-radius: 1vw;
  min-width: 140px;
  min-height: 180px;
  height: 40%;
}
.section-hogar__items-container__item div {
  height: 20%;
  margin-bottom: 40px;
  overflow: hidden;
}
.section-hogar__items-container__item div h3 {
  max-width: 140px;
  margin-bottom: 4px;
  font-size: 1.2rem;
}
.section-hogar__items-container__item div p {
  max-width: 140px;
  margin-bottom: 30px;
  font-weight: 400;
}
.section-hogar__items-container__item svg {
  align-self: flex-end;
  margin-top: 10px;
  margin-right: 10px;
}
.section-hogar__items-container svg {
  filter: invert(100%) sepia(14%) saturate(2%) hue-rotate(134deg) brightness(200%) contrast(101%);
}

.section-nosotros h2 {
  margin-left: 30px;
}

.section-nosotros__items {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 60px;
  font-size: 1.2rem;
  color: #e86424;
}
.section-nosotros__items div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 50%;
  min-width: 100px;
  margin-top: 30px;
  text-align: center;
}
.section-nosotros__items div p {
  max-width: 220px;
  margin-top: 9px;
}

.section-galeria h2 {
  margin-left: 30px;
}
.section-galeria__items {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-galeria__items img {
  width: 70%;
  max-width: 300px;
  border-radius: 10px;
  margin-bottom: 30px;
}

.section-mapa h2 {
  margin-left: 30px;
}
.section-mapa__img {
  display: flex;
  justify-content: center;
  width: 85%;
  margin: 0 auto;
  margin-bottom: 30px;
  overflow: hidden;
}
.section-mapa__img img {
  width: 100%;
  max-width: 300px;
}
.section-mapa__info {
  margin-left: 30px;
  margin-bottom: 60px;
  color: #e86424;
}
.section-mapa__info h3 {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 5px;
}

footer {
  width: 100%;
  height: 200px;
  background-color: #e86424;
}