@mixin items-container-pc-mod{
  flex-wrap: wrap;
  overflow: hidden;
  justify-content: space-between;

  &__item{
    width: 23%;
    min-width: 230px;
    margin-bottom: 30px;
    margin-left: 40px;
    margin-right: 40px;

    img{
      width: 70%;
      height: 55%;
    }

    div{
      width: 70%;

      h3{
        font-size: 1.6rem;
      }

      p{
        font-size: 1rem;
      }
    }
  }

  :nth-child(3n){
    margin-left: 0;
  }
}

.intro-container {
    flex-direction: row;
    justify-content: space-between;

    &__info{
        display: block;
    }

  &__img {
    margin-top: 5vh;
    order: 2;
  }

  &__info{
    margin-bottom: 100px;
  }

  &__titulo{
    font-size: 3.5vw;
  }

  &__parrafo{
    font-size: 1.8rem;
    margin-bottom: 60px;
  }
}

.section-salud__titulo, .section-hogar__titulo{
  margin-left: 35px;
  font-size: 2.1rem;
}

.section-hogar__items-container, .section-salud__items-container{
  @include items-container-pc-mod;
}

.section-nosotros{
  h2{
    margin-left: 70px;
  }

  &__items{
    flex-direction: row;
    margin-top: 30px;
    margin-bottom: 60px;
    font-size: 1.6rem;
  }
}

.section-galeria{
  h2{
    margin-left: 60px;
  }

  &__items{
    flex-direction: row;
    justify-content: space-around;
  
  }
}

.section-mapa{
  h2{
    margin-left: 60px;
  }

  &__info{
    margin-left: 60px;
    h3{
      font-size: 1.8rem;
    }
    p{
      font-size: 1.3rem;
    }
  }
}

.section-mapa__img{
  img{
    content: url(../assets/images/mapa-desktop.png);
    max-width: 90%;
    max-height: 300px;
  }
}